body{
    background-color:#e9e9e9;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
.container{
    width:100%;
    max-width: 1200px;
    text-align: left;
    font-family: "Century",serif;
    margin-left: auto;
    margin-right: auto;
}
.moji{
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 60px;
}
h1{
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 50px;
}
h2{
    font-weight: bold;
    margin-bottom: 60px;
}
h3{
    font-weight: bold;
    margin-bottom: 30px;
}
h4{
    background-color: white;
    padding: 0px;
    margin: 0px;
}
p{
    margin-top: 20px;
    margin-bottom: 15px;
}
img{
    margin-left: auto;
    margin-right: auto;
}
.container ul{
    display: inline;
    list-style: none;
}
.container ul li{
    float: left;
}
a.list:visited{
    color: blue;
}
div.row .col-sm-4{
   position:relative;
   left:5%;
   float:left;
}
div.col-sm-4{
    padding-top:15px;
    border: 1px;
    border-style: solid;
    border-color: white;
    width: 360px;
    height: 420px;
    padding-bottom: 50px;
}
div.col-sm-4 img{
    width: 320px;
    height: 220px;
    margin-left:4px; 
}
div.col-sm-4 h4{
    background-color: #e9e9e9;
    margin-top: 20px;
}    
span{
    margin-left: 40px;
}
div.row2{
    margin-bottom: 50px;
}
.container footer{
    position: absolute;
    font-family: "Century",serif;
    bottom: 0px;
    height: 100px;
    width: 1200px;
    margin-top:100px;
    display: block;
}
